
<div class="container bg-dark w-100">

  <div class="card o-hidden border-0 shadow-lg my-5 ">
      <div class="card-body p-0 ">
          <!-- Nested Row within Card Body -->
          <div class="row ">
              <div class="col-lg-5 d-none d-lg-block bg-register-image "></div>
              <div class="col-lg-7">
                  <div class="p-5 ">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-2">Create an Account!</h1>
                      </div>
                      <form class="user" autocomplete="off" (ngSubmit)="register()" >
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input ngModel   type="text" class="form-control form-control-user" id="exampleFirstName"
                                   #firstName="ngModel"
                                   name="firstName"
                                  [ngClass]="{'is-invalid':(firstName.touched||firstName.dirty) && !firstName.valid}"
                                  minlength="3"
                                  required
                                  pattern="[a-zA-Z]{3,}"
                                  placeholder="First Name">
                                  <div  class="text-danger errormessage" [hidden]="firstName.valid || firstName.untouched">
                                    <div *ngIf='firstName.errors?.["required"]' >required</div>
                                    <div *ngIf='firstName.errors?.["minlength"]'>first name must be at least 3 characters</div>
                                    <div *ngIf='firstName.errors?.["pattern"]'>first name is invalid </div>


                                 </div>


                              </div>
                              <div class="col-sm-6">
                                  <input ngModel type="text" class="form-control form-control-user" id="exampleLastName"
                                  #lastName="ngModel"
                                  name="lastName"
                                  [ngClass]="{'is-invalid':(lastName.touched||lastName.dirty) && !lastName.valid}"
                                  minlength="3"
                                  required
                                  pattern="[a-zA-Z]{3,}"
                                      placeholder="Last Name">
                                      <div  class="text-danger errormessage" [hidden]="lastName.valid || lastName.untouched">
                                        <div *ngIf='lastName.errors?.["required"]' >required</div>
                                        <div *ngIf='lastName.errors?.["minlength"]'>last name must be at least 3 characters</div>
                                        <div *ngIf='lastName.errors?.["pattern"]'>last name is invalid </div>


                                     </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <input   type="email" class="form-control form-control-user" id="exampleInputEmail"
                              name="email"
                              value="ngModel"
                              [(ngModel)]="email"
                                  placeholder="Email Address">
                                  <!-- <div  class="text-danger  errormessage" [hidden]="email.valid || email.untouched">
                                     <div *ngIf='email.errors?.["required"]' >required</div>
                                     <div *ngIf='email.errors?.["minlength"]'>minlength</div>

                                  </div> -->
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  <input  type="password" class="form-control form-control-user"
                                  minlength="8"
                                  name="password"
                                  value="ngModel"
                                  required
                                  [(ngModel)]="password"
                                      id="exampleInputPassword" placeholder="Password">
                                      <!-- <div  class="text-danger errormessage" [hidden]="password.valid || password.untouched">
                                        <div *ngIf='password.errors?.["required"]' >required</div>
                                        <div *ngIf='password.errors?.["minlength"]'>minlength</div>
                                        <div *ngIf='password.errors?.["pattern"]'> password is invalid </div>

                                     </div> -->
                              </div>
                              <div class="col-sm-6">
                                  <input ngModel type="password" class="form-control form-control-user" #Repeatpassword="ngModel"
                                  minlength="3"
                                  name="Repeatpassword"
                               required
                                  [ngClass]="{'is-invalid':(Repeatpassword.touched||Repeatpassword.dirty) && !Repeatpassword.valid}"
                                      id="exampleRepeatPassword" placeholder="Repeat Password">

                                      <div  class="text-danger errormessage" >

                                       <div [hidden]="Repeatpassword.valid || Repeatpassword.untouched">
                                        <div *ngIf='Repeatpassword.errors?.["required"]' >required</div>
                                        <div *ngIf='Repeatpassword.errors?.["minlength"]'>minlength</div>
                                      </div>
                                     </div>
                              </div>
                          </div>
                          <button (click)="register()" [disabled]="" class="btn btn-primary btn-user btn-block">
                              Register Accounts
                          </button>
                          <hr>
                          <a (click)="registwithgoogle()" class="btn btn-google btn-user btn-block">
                              <i class="fab fa-google fa-fw"></i> Register with Google
                          </a>
                          <a href="index.html" class="btn btn-facebook btn-user btn-block">
                              <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                          </a>
                      </form>
                      <hr>
                      <div class="text-center">
                          <a class="small" href="forgot-password.html">Forgot Password?</a>
                      </div>
                      <div class="text-center">
                          <a class="small" href="/login">Already have an account? Login!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
