<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary addProductButton ms-4"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add product
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adding product</h1>
      </div>

      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          [(ngModel)]="category"
          (change)="onChange()"
        >
          <!-- [(ngModel)]="Category" -->
          <option value="Men's clothing">Men's clothing</option>
          <option value="Women's clothing">Women's clothing</option>
          <option value="Jewllery">Jewllery</option>
          <option value="Electronics">Electronics</option>
        </select>
        <label for="floatingSelect">Category</label>
      </div>
      <div class="form-floating">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
          [(ngModel)]="color"
        >
          <!-- [(ngModel)]="color" -->
          <option value="black">black</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="green">green</option>
          <option value="blue">blue</option>

        </select>
        <label for="floatingSelect">color</label>
      </div>
      <!-- Brand input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="Brand"
            [(ngModel)]="brand"
          />
          <label for="floatingInputGroup2">Brand</label>
        </div>
      </div>

      <!-- ID input -->
      <!-- <div class="input-group">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="ID"
            [(ngModel)]="id"
          />
          <label for="floatingInputGroup2">ID</label>
        </div>
      </div> -->

      <!-- Image1 input -->
      <div class="input-group" *ngIf="user$ | async as user">

        <div class="form-floating" >

          <input
          type="search"
          class="form-control"
            id="floatingInputGroup2"
            placeholder="Image"
            [(ngModel)]="images[0]"
          />
          <label for="floatingInputGroup2">Image 1</label>

        </div>
        <img src={{images[0]}} style="width: 60px;border: 1px solid rgb(5, 218, 247); padding: 1px;" />

        <ng-container *ngIf="images[0]==null||'';else landing ">

          <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

              <mat-icon>add</mat-icon>
            </button>
            </ng-container>
            <ng-template #landing>

             <button mat-mini-fab (click)="deleteImage(0)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
              <mat-icon>delete</mat-icon>
            </button>
            </ng-template>


        <input #inputField hidden type="file" (change)="uploadFile($event,0)"   class="form-control"
        id="floatingInputGroup2"/>
      </div>
      <!-- Image2 input -->
      <div class="input-group" *ngIf="user$ | async as user">

    <div class="form-floating" >


      <input
      type="search"
        class="form-control"
        id="floatingInputGroup2"
        placeholder="Image"
        [(ngModel)]="images[1]"
      />
      <label for="floatingInputGroup2">Image 2</label>

    </div>
    <img src={{images[1]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>
    <ng-container *ngIf="images[1]==null||'';else landing ">

    <button mat-mini-fab (click)="deleteImage(1)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

        <mat-icon>add</mat-icon>
      </button>
      </ng-container>
      <ng-template #landing>

       <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
        <mat-icon>delete</mat-icon>
      </button>
      </ng-template>


    <input #inputField hidden type="file" (change)="uploadFile($event, 1)"   class="form-control"
    id="floatingInputGroup2"/>
      </div>
      <!-- Image3 input -->
      <div class="input-group" *ngIf="user$ | async as user">

    <div class="form-floating" >


      <input
      type="search"
        class="form-control"
        id="floatingInputGroup2"
        placeholder="Image"
        [(ngModel)]="images[2]"
      />
      <label for="floatingInputGroup2">Image 3</label>
    </div>

      <img src={{images[2]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>

      <ng-container *ngIf="images[1]==null||'';else landing ">

        <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

            <mat-icon>add</mat-icon>
          </button>
          </ng-container>
          <ng-template #landing>

           <button mat-mini-fab (click)="deleteImage(2)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
            <mat-icon>delete</mat-icon>
          </button>
          </ng-template>


      <input #inputField hidden type="file" (change)="uploadFile($event,2)"   class="form-control"
      id="floatingInputGroup2"/>
      </div>
      <!-- Image4 input -->
      <div class="input-group" *ngIf="user$ | async as user">

  <div class="form-floating " >
    <input
      type="search"
      class="form-control"
      id="floatingInputGroup2"
      placeholder="Image"
      [(ngModel)]="images[3]"
    />
    <label for="floatingInputGroup2">Image 4</label>

  </div>
  <img src={{images[3]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>

  <ng-container *ngIf="images[1]==null||'';else landing ">

    <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

        <mat-icon>add</mat-icon>
      </button>
      </ng-container>
      <ng-template #landing>

       <button mat-mini-fab (click)="deleteImage(3)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
        <mat-icon>delete</mat-icon>
      </button>
      </ng-template>


  <input #inputField hidden type="file" (change)="uploadFile($event, 3)"   class="form-control"
  id="floatingInputGroup2"/>
      </div>


      <!-- Price input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="Price"
            [(ngModel)]="price"
          />
          <label for="floatingInputGroup2">Price</label>
        </div>
      </div>

      <!-- stock input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="stock"
            [(ngModel)]="stock"
          />
          <label for="floatingInputGroup2">stock</label>
        </div>
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="rating"
            [(ngModel)]="rating"
          />
          <label for="floatingInputGroup2">rating</label>
        </div>
      </div>

      <!-- rating input -->
      <!-- <div class="input-group">

      </div> -->

      <!-- description input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="description"
            [(ngModel)]="description"
          />
          <label for="floatingInputGroup2">description</label>
        </div>
      </div>

      <!-- Title input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="Title"
            [(ngModel)]="title"
          />
          <label for="floatingInputGroup2">Title</label>
        </div>
      </div>

      <!-- thumbnail input -->
      <div class="input-group">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="floatingInputGroup2"
            placeholder="thumbnail"
            [(ngModel)]="thumbnail"
          />
          <label for="floatingInputGroup2">thumbnail</label>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary AddBtn px-5" (click)="addProduct()">add</button>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- Content -->

<div class="px-4 w-100">
  <label class="categorySelectorViewLabel" for="categorySelectorView"
    >Category</label
  >
  <select
    class="form-select categorySelectorView"
    id="floatingSelect"
    aria-label="Floating label select example"
    [(ngModel)]="category2"
    (change)="onChange()"
  >
    <option value="Men's clothing">Men's clothing</option>
    <option value="Women's clothing">Women's clothing</option>
    <option value="Jewllery">Jewllery</option>
    <option value="Electronics">Electronics</option>
  </select>

  <div>
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="display: none;">id</th>
          <td mat-cell *matCellDef="let element" style="display: none;">{{ element.id }}</td>
        </ng-container>

        <!-- brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>brand</th>
          <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
        </ng-container>

        <!-- images Column -->
        <ng-container matColumnDef="images">
          <th mat-header-cell *matHeaderCellDef>images</th>
          <td mat-cell *matCellDef="let element">
            <img src="{{ element.images[0] }}" class="PrdImg" />
          </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>color</th>
          <td mat-cell *matCellDef="let element">{{ element.color }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>rating</th>
          <td mat-cell *matCellDef="let element">{{ element.rating }}</td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>stock</th>
          <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
        </ng-container>

        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>thumbnail</th>
          <td mat-cell *matCellDef="let element">{{ element.thumbnail }}</td>
        </ng-container>
        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Control</th>
          <td mat-cell *matCellDef="let element">
            <!-- Edit -->
              <fa-icon
                [icon]="faTrashAlt"
                class="fa-2x"
                style="cursor: pointer"
                (click)="deleteProduct(element)"
              ></fa-icon>
            <fa-icon
              [icon]="faEdit"
              class="fa-2x"
              style="cursor: pointer"
              (click)="setData(element.id)"
              data-bs-target="#exampleModal2"
              data-bs-toggle="modal"
            ></fa-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        pageSize="5"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Updating product
          </h1>
        </div>
        <form [formGroup]="editForm" style="margin:auto">
          <select
            class="form-select"
            id="floatingSelect"
            aria-label="Floating label select example"
          >
            <option selected>Category</option>
            <option value="Men's clothing">Men's clothing</option>
            <option value="Women's clothing">Women's clothing</option>
            <option value="Jewllery">Jewllery</option>
            <option value="Electronics">Electronics</option>
          </select>
          <label for="floatingSelect">color</label>
          <select
          class="form-select"
          name="color"
          id="floatingSelect"
          aria-label="Floating label select example"
          [value]="color"
          formControlName="color"

          >
          <option value="black">black</option>
          <option value="red">red</option>
          <option value="white">white</option>
          <option value="green">green</option>
          <option value="blue">blue</option>

        </select>
          <label for="brand">brand</label>

          <input
            type="text"
            name="brand"
            formControlName="brand"
            class="form-control"
          />
          <label for="title">title</label>
          <input
            type="text"
            name="title"
            formControlName="title"
            class="form-control"
          />
          <label for="price">price</label>
          <input
            type="number"
            name="price"
            formControlName="price"
            class="form-control"
          />
          <!-- <label for="images">images</label>
          <input
            type="text"
                     class="form-control"
          /> -->
                <!-- Image1 input -->
      <div class="input-group" *ngIf="user$ | async as user">

        <div class="form-floating" >

          <input
          type="search"
          class="form-control"
            id="floatingInputGroup2"
            placeholder="Image"
            formControlName="images"
          />
          <label for="floatingInputGroup2">Image 1</label>

        </div>
        <img src={{images[0]}} style="width: 60px;border: 1px solid rgb(5, 218, 247); padding: 1px;" />

        <ng-container *ngIf="images[0]==null||'';else landing ">

          <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

              <mat-icon>add</mat-icon>
            </button>
            </ng-container>
            <ng-template #landing>

             <button mat-mini-fab (click)="deleteImage(0)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
              <mat-icon>delete</mat-icon>
            </button>
            </ng-template>


        <input #inputField hidden type="file" (change)="uploadFile($event,0)"   class="form-control"
        id="floatingInputGroup2"/>
      </div>
      <!-- Image2 input -->
      <div class="input-group" *ngIf="user$ | async as user">

    <div class="form-floating" >


      <input
      type="search"
        class="form-control"
        id="floatingInputGroup2"
        placeholder="Image"
        [(ngModel)]="images[1]"
      />
      <label for="floatingInputGroup2">Image 2</label>

    </div>
    <img src={{images[1]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>
    <ng-container *ngIf="images[1]==null||'';else landing ">

    <button mat-mini-fab (click)="deleteImage(1)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

        <mat-icon>add</mat-icon>
      </button>
      </ng-container>
      <ng-template #landing>

       <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
        <mat-icon>delete</mat-icon>
      </button>
      </ng-template>


    <input #inputField hidden type="file" (change)="uploadFile($event, 1)"   class="form-control"
    id="floatingInputGroup2"/>
      </div>
      <!-- Image3 input -->
      <div class="input-group" *ngIf="user$ | async as user">

    <div class="form-floating" >


      <input
      type="search"
        class="form-control"
        id="floatingInputGroup2"
        placeholder="Image"
        [(ngModel)]="images[2]"
      />
      <label for="floatingInputGroup2">Image 3</label>
    </div>

      <img src={{images[2]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>

      <ng-container *ngIf="images[1]==null||'';else landing ">

        <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

            <mat-icon>add</mat-icon>
          </button>
          </ng-container>
          <ng-template #landing>

           <button mat-mini-fab (click)="deleteImage(2)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
            <mat-icon>delete</mat-icon>
          </button>
          </ng-template>


      <input #inputField hidden type="file" (change)="uploadFile($event, 2)"   class="form-control"
      id="floatingInputGroup2"/>
      </div>
      <!-- Image4 input -->
      <div class="input-group" *ngIf="user$ | async as user">

  <div class="form-floating " >
    <input
      type="search"
      class="form-control"
      id="floatingInputGroup2"
      placeholder="Image"
      [(ngModel)]="images[3]"
    />
    <label for="floatingInputGroup2">Image 4</label>

  </div>
  <img src={{images[3]}} style="width: 60px; border: 1px solid rgb(5, 218, 247); padding: 1px;"/>

  <ng-container *ngIf="images[1]==null||'';else landing ">

    <button mat-mini-fab (click)="inputField.click()" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">

        <mat-icon>add</mat-icon>
      </button>
      </ng-container>
      <ng-template #landing>

       <button mat-mini-fab (click)="deleteImage(3)" style="display: flex; align-self: center; border-radius: 50%;background-color: #232f3e;">
        <mat-icon>delete</mat-icon>
      </button>
      </ng-template>


  <input #inputField hidden type="file" (change)="uploadFile($event,3)"   class="form-control"
  id="floatingInputGroup2"/>
      </div>
          <label for="images">description</label>
          <input
            type="text"
            name="description"
            formControlName="description"
            class="form-control"
          />
          <label for="images">stock</label>
          <input
            type="text"
            name="stock"
            formControlName="stock"
            class="form-control"
          />
          <label for="images">thummbnail</label>
          <input
            type="text"
            name="thumbnail"
            formControlName="thumbnail"
            class="form-control"
          />
          <button type="button" (click)="editProduct()" class="btn btn-primary AddBtn">update</button>
        </form>
      </div>
    </div>
  </div>
</div>
