<div class="container  p-0">

  <!-- Outer Row -->
  <div class="row justify-content-center mt-0 pt-0" style="width: 100%; margin: auto; ">

      <div class="col-xl-10 col-lg-12 col-md-9 m-0 p-0">

          <div class="card o-hidden border-0 shadow-lg my-1 ">
              <div class="card-body p-0 m-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                      <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                      <div class="col-lg-6">
                          <div class="p-5">
                              <div class="text-center">
                                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                              </div>
                              <form class="user" [formGroup]="loginform" >
                                  <div class="form-group">
                                      <input  type="email" class="form-control form-control-user"
                                      formControlName="email"
                                      name="email"

                                          id="exampleInputEmail" aria-describedby="emailHelp"
                                          [ngClass]="{'is-invalid':(loginform.get('email')?.touched||loginform.get('email')?.dirty)
                                          && !loginform.get('email')?.valid}"

                                          placeholder="Enter Email Address...">

                                          <div  class="text-danger errormessage" [hidden]="loginform.get('email')?.valid ||loginform.get('email')?.untouched">
                                            <div *ngIf="(loginform.get('email')?.errors?.['required'])" >required</div>
                                            <div *ngIf="(loginform.get('email')?.errors?.['email'])">invalid</div>

                                          </div>
                                  </div>
                                  <div class="form-group">
                                      <input type="password" class="form-control form-control-user"
                                      formControlName="password"
                                      name="password"
                                      [ngClass]="{'is-invalid':(loginform.get('password')?.touched||loginform.get('password')?.dirty)
                                          && !loginform.get('password')?.valid}"
                                          id="exampleInputPassword" placeholder="Password">

                                          <div  class="text-danger errormessage" [hidden]="loginform.get('Password')?.valid ||loginform.get('Password')?.untouched">
                                            <div *ngIf="(loginform.get('Password')?.errors?.['required'])" >enter password</div>
                                            <div *ngIf="(loginform.get('Password')?.errors?.['minLength'])">invalid</div>

                                          </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="custom-control custom-checkbox small">
                                          <input type="checkbox" class="custom-control-input" id="customCheck">
                                          <label class="custom-control-label" for="customCheck">Remember
                                              Me</label>
                                      </div>
                                  </div>
                                  <button (click)="login()" [disabled]="loginform.invalid"  class="btn btn-primary btn-user btn-block">
                                      Login
                                  </button>
                                  <hr>
                                  <button (click)="loginwithgoogle()" class="btn btn-google btn-user btn-block">
                                      <i class="fab fa-google fa-fw"></i> Login with Google
                                  </button>
                                  <button  class="btn btn-facebook btn-user btn-block">
                                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                  </button>
                                </form>
                              <hr>
                              <!-- <div class="text-center">
                                  <a href="#" class="small" >Forgot Password?</a>
                              </div> -->
                              <div class="text-center">
                                  <a class="small" routerLink="/register">Create an Account!</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>

  </div>

</div>
