
<div
  class="form-container mat-elevation-z5 text-center mt-5 w-100"
>
<section>

  <div class="section-header">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="contact-info">
        <div class="contact-info-item ">
          <div class="contact-info-icon">
            <i class="fas fa-home"></i>
          </div>

          <div class="contact-info-content ">
            <h4>Address</h4>
            <p>cairo, Egypt <br/>55060</p>
          </div>
        </div>

        <div class="contact-info-item  ">
          <div class="contact-info-icon">
            <i class="fas fa-phone"></i>
          </div>

          <div class="contact-info-content ">
            <h4>Phone</h4>
            <p>561-456-2321</p>
            <p>561-456-2321</p>

          </div>
        </div>

        <div class="contact-info-item  ">
          <div class="contact-info-icon">
            <i class="fas fa-envelope"></i>
          </div>

          <div class="contact-info-content">
            <h4>Email</h4>
           <p>example@email.com</p>
           <p>example@email.com</p>
          </div>
        </div>
      </div>

      <div class="contact-form ">
        <form action="" id="contact-form" [formGroup]="msgform" >
          <h2>Send Message</h2>
          <div class="input-box">
            <input type="text" name="fullname" formControlName="fullname">
            <span>Full Name</span>
          </div>

          <div class="input-box">
            <input type="email" name="email" formControlName="email">
            <span>Email</span>
          </div>

          <div class="input-box">
            <textarea name="msg" formControlName="msg"></textarea>
            <span>Type your Message...</span>
          </div>

          <div class="input-box">
            <input type="submit" value="Send" (click)="sendmsg()" [disabled]="msgform.invalid">
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<ng-container  *ngIf="full;else landing ">
  <button (click)="getmessages()" class="btn btn-dark p-2">show your messages </button>
</ng-container>
<ng-template #landing>
 <div class="w-100" style="overflow: scroll;">
<table class="table table-dark" style="overflow: scroll;">
  <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody >
     <tr *ngFor=" let element of msgs;let indexOfelement=index; " style="overflow-x:hidden;" >
      <td >{{indexOfelement+1}}</td>
      <td>{{element.fullname}}</td>
      <td>{{element.email}}</td>
      <td >{{element.msg}}</td>


     </tr>
  </tbody>
</table>
</div>

</ng-template>
</div>
