<div
  class="form-container mat-elevation-z5 text-center"

>
  <h1>Update Profile</h1>
  <div class="profile-image">
    <img
    [src]="base64"
      width="120"
      height="120"
      class="margin-top mat-elevation-z1 m-2"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file"   class="form-control" id="Img"  name="img" (change)="getImagepath($event)"  style="width: 100px;" />

  <form class="margin-top" >
    <div class="row flex-nowrap">
      <div class="col-3">
      first name:
    </div>

      <mat-form-field>
        <input
          type="text"
          [(ngModel)]="userdata.firstname" [ngModelOptions]="{standalone: true}"
          matInput
        />
      </mat-form-field>
      </div>
      <div class="row flex-nowrap">
        <div class="col-3">

      last name:
</div>
      <mat-form-field>
        <input
          type="text"
          [(ngModel)]="userdata.lastname"
          [ngModelOptions]="{standalone: true}"
          matInput
        />
      </mat-form-field>
    </div>

    <div class="row flex-nowrap">
      <div class="col-3">

      email:
      </div>
      <mat-form-field>
        <input
          type="text"
          matInput
          [(ngModel)]="userdata.email"
          [ngModelOptions]="{standalone: true}"
          disabled
        />
      </mat-form-field>
      </div>
      <div class="row flex-nowrap">
        <div class="col-3">

      password:
</div>
      <mat-form-field>
        <input
          type="password"
          [(ngModel)]="userdata.password"
          [ngModelOptions]="{standalone: true}"
          matInput
        />
      </mat-form-field>
</div>
      <!-- <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Address"
        />
      </mat-form-field> -->

<br>
    <button type="submit" (click)="savechange()"  class="margin-top" mat-raised-button color="primary">
      Save
    </button>
    <!-- <button (click)="saveTutorial()" class="btn btn-success">Submit</button> -->

  </form>
</div>
<!-- <div class="d-flex">
<div >
  hello user
  <button (click)="getuser()">get</button>
  <button    [swal]="['Oops!', 'This is not implemented yet :/', 'warning']" >getdata</button>

  <div>userid: {{userid}}</div>
  <button (click)="logout()">logout</button>
  <div class="imagediv">
  <img [src]="base64" alt=""   style="width: 100%; height: 100%;border-radius: 50%; border: 1px solid gray; box-shadow: 2px 2px 2px 2px gray;"/>
   </div> -->
<!-- Button trigger modal -->
<!-- <button
  type="button"
  class="btn btn-primary addProductButton"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  edit photo
</button>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">edit  photo</h1>

      </div>
      <div >
        <img [src]="base64" alt=""   style="width: 80%; height: 70%; border: 1px solid gray; box-shadow: 2px 2px 2px 2px gray;"/>
        <input type="file"   class="form-control" id="Img"  name="img" (change)="getImagepath($event)"  style="width: 100px;">
         </div>
      </div>
  </div>
</div>   -->
