<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <div>
  <a routerLink="/">
    <img  class="logo-img" src="https://firebasestorage.googleapis.com/v0/b/fir-eb561.appspot.com/o/images%2Fproduct%2Famazon-logo-editorial-free-vector.jpg?alt=media&token=2f70936f-e0f7-403c-b0ff-24998168ecfc" alt="" width="200" height="">
  </a>
  </div>

  <!-- Divider -->

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="home">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->


  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="table" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Tables</span>
    </a>

  </li>

  <!-- Nav Item - Utilities Collapse Menu -->


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->


  <!-- Nav Item - Pages Collapse Menu -->

     <li class="nav-item">
    <a class="nav-link collapsed" routerLink="profile" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-user"></i>
      <span>user page</span>
    </a>
  </li>
  <ng-container *ngIf="user$ | async as user;else landing ">

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="contact" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
        aria-controls="collapsePages">
        <i class="fas fa-fw fa-user-lock"></i>
        <span>contact us</span>
      </a>
    </li>
</ng-container>
<ng-template #landing>


  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="login" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-user"></i>
      <span>Login</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="register" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-user-lock"></i>
      <span>Register</span>
    </a>
  </li>
</ng-template>
  <!-- Nav Item - Tables -->
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
</ul>
