<div class="row">
  <div class="col-12">
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <!-- <tr *ngFor="let CartProduct of Products"> -->
      <tr>
        <td>chair</td>
        <td>1200</td>
        <td>1200</td>
        <td><fa-icon [icon]="faTrashAlt" class="fa-2x" style="cursor: pointer;"></fa-icon></td>
        <td><fa-icon [icon]="faEdit" class="fa-2x" style="cursor: pointer;"></fa-icon></td>
      </tr>
    </table>
  </div>
</div>
