<nav class="navbar navbar-expand navbar-light  topbar mb-0 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->

    <li>
      <div class="d-flex m-4">

       <ng-container *ngIf="user$ | async as user; else loginbtn">
        <button  routerLink="profile" class="username"  mat-button style=" font-weight: bold;">
          <img
          width="45"
          height="45"
          class="profile-image-toolbar"
          [src]="user.photoURL ?? 'assets/images.png'"
        />
            {{user.displayName}}

          </button>
          <button (click)="logout()" class="btn btn-primary">
            logout
          </button>
       </ng-container>
       <ng-template #loginbtn>

       <button  class="btn btn-primary"  routerLink="login">
        login
       </button>

       </ng-template>
    </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
